<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= bootstrap_form_for @signup_presenter,
        layout: :horizontal,
        label_col: "col-sm-3",
        control_col: "col-sm-9",
        role: "form" do |f| %>
          <%= f.text_field :account_name, :placeholder => 'Your company name', :label => "Account" %>
          <%= f.text_field :user_name, :placeholder => 'you@address.com', :label => "Email" %>
          <%= f.password_field :user_password, :label => "Password", :placeholder => 'At least 6 characters' %>
          <%= f.password_field :user_password_confirmation, :label => "Confirm Password" %>
          <%= f.form_group :account_terms_of_service do %>
            <%= f.check_box :account_terms_of_service, :label => ("I agree with #{link_to("Terms of Service", terms_of_service_path) }").html_safe %>
          <% end %>
          <%= f.form_group do %>
            <%= f.primary "Create Account" %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
